[Unit]
Description=set the default mouse pointer
WantedBy=xorg.target
Requisite=xorg.target
After=xorg.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr

[Install]
WantedBy=wm.target
