[Unit]
Description=set the default mouse pointer
Requires=xorg.target
After=wm.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr

[Install]
WantedBy=wm.target
