[Unit]
Description=Lightweight tiling window manager
Before=mystuff.target
After=xorg.target
Requires=xorg.target
Wants=dwmstatus.service

[Service]
ExecStart=/usr/bin/dwm
Restart=always
RestartSec=10
 
[Install]
WantedBy=wm.target
