[Unit]
Description=status app for dwm
Before=mystuff.target
After=dwm.service
Requires=dwm.service

[Service]
Environment=DISPLAY=:0
ExecStart=/home/nathan/devel/c/dwmstatus/dwmstatus
Restart=always
RestartSec=10
 
[Install]
WantedBy=dwm.service
