[Unit]
Description=emacs daemon
WantedBy=mystuff.target

[Service]
Environment=DISPLAY=:0
Type=oneshot
RemainAfterExit=yes
User=%i
ExecStart=/usr/bin/emacs --daemon

[Install]
WantedBy=wm.target
