[Unit]
Description=set the font directory
Requires=xorg.target
Before=fonthash.service
Wants=fonthash.service

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/xset +fp /usr/share/fonts/local

[Install]
WantedBy=wm.target
