[Unit]
Description=Manual tiling window manager
Before=mystuff.target
After=xorg.target
Requires=xorg.target
Wants=dwmstatus.service

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/herbstluftwm
ExecReload=/usr/bin/herbstclient reload
Restart=always
RestartSec=10
 
[Install]
WantedBy=wm.target
