[Unit]
Description=Sets the background color
After=xorg.target
Before=wm.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/hsetroot -fill /home/nathan/pics/Wallpapers/gB2b8.png

[Install]
WantedBy=wm.target
