[Unit]
Description=panel app for bspwm
Before=mystuff.target
After=bspwm.service
Requires=bspwm.service
ReloadPropagatedFrom=bspwm.service

[Service]
Environment=DISPLAY=:0
Environment=PANEL_FIFO=/tmp/panel-fifo
Environment=PANEL_HEIGHT=16
Environment=BSPWM_TREE=/tmp/bspwm-tree
Environment=BSPWM_HISTORY=/tmp/bspwm-history
Environment=BSPWM_STACK=/tmp/bspwm-stack
Environment=BSPWM_SOCKET=/tmp/bspwm-socket
Environment=XDG_CONFIG_HOME=/home/nathan/.config
ExecStart=/home/nathan/.config/bspwm/panel
Restart=always
RestartSec=10

[Install]
WantedBy=bspwm.service
