[Unit]
Description=Simple X Hotkey Daemon
After=wm.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/nathan/bin/ruld

[Install]
WantedBy=wm.target
