[Unit]
Description=set my keyboard map
Requires=xorg@%i.target
After=xorg@%i.target

[Service]
Type=simple
Environment=DISPLAY=:%i
ExecStart=/usr/bin/setxkbmap -layout us -geometry thinkpad -option ctrl:nocaps -option compose:menu

[Install]
WantedBy=wm@.target
