[Unit]
Description=Simple X Hotkey Daemon
After=wm.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/sxhkd
ExecReload=/usr/bin/killall -SIGUSR1 sxhkd

[Install]
WantedBy=bspwm.service
