[Unit]
Description=Window manager target
Wants=mystuff.target
Requires=xorg.target
After=xorg.target
Requires=dbus.socket
After=dbus.socket
AllowIsolate=true

[Install]
Alias=default.target
