[Unit]
Description=desktop window compositing
#Requires=xorg.target
#After=wm.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/xcompmgr -c

#[Install]
#WantedBy=wm.target
