[Unit]
Description=Advanced modern tiling window manager

[Service]
Environment=DISPLAY=:0
ExecStart=/home/nathan/.xmonad/xmonad-x86_64-linux
ExecReload=/home/nathan/.xmonad/xmonad-x86_64-linux --recompile --restart
Restart=always
RestartSec=10
 
[Install]
WantedBy=wm.target
