[Unit]
Description=Advanced modern tiling window manager

[Service]
Environment=DISPLAY=:0
ExecStart=/home/nathan/.xmonad/xmonad
ExecReload=/home/nathan/.xmonad/xmonad --recompile --restart
Restart=always
RestartSec=10
 
[Install]
WantedBy=wm.target
