[Unit]
Description=Advanced modern tiling window manager

[Service]
Environment=DISPLAY=:0
ExecStart=/home/nathan/.xmonad/xmonad
Before=wm.target
After=xorg.target
Requires=xorg.target

Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
