[Unit]
Description=bind my keys to do things with my keys

[Service]
Type=simple
Environment=DISPLAY=:%i
ExecStart=/usr/bin/xbindkeys -n
ExecReload=/usr/bin/killall -HUP xbindkeys
# Requisite=wm@%i.target
# After=wm@%i.target

[Install]
WantedBy=wm@.target
