[Unit]
Description=Keychain for ssh/gpg keys

[Service]
Type=forking
ExecStart=/home/nathan/bin/my-keys
ExecStopPost=/bin/sh -c '/usr/bin/echo "" > %h/.keychain/my_env;\
                         /usr/bin/echo "" > %h/.keychain/my_env_export';\
             /usr/sbin/keychain --clear

[Install]
WantedBy=console.target
