! Hybrid Terminal Colours
! vim: ft=xdefaults

! Tomorrow-Night Palette
#define t_background #1D1F21
#define t_current_line #282A2E
#define t_selection #373B41
#define t_foreground #C5C8C6
#define t_comment #707880
#define t_red #CC6666
#define t_orange #DE935F
#define t_yellow #F0C674
#define t_green #B5BD68
#define t_aqua #8ABEB7
#define t_blue #81A2BE
#define t_purple #B294BB

*background: t_background
*foreground: t_foreground
! black
*color0: t_current_line
*color8: t_selection
! red
*color1: #A54242
*color9: t_red
! green
*color2: #8C9440
*color10: t_green
! yellow
*color3: t_orange
*color11: t_yellow
! blue
*color4: #5F819D
*color12: t_blue
! magenta
*color5: #85678F
*color13: t_purple
! cyan
*color6: #5E8D87
*color14: t_aqua
! white
*color7: t_comment
*color15: t_foreground

!! Font for everything
!*font: -*-terminus-medium-*-*-*-16-*-*-*-*-*-iso10646-*
!URxvt*italicFont:  -*-terminus-medium-*-*-*-16-*-*-*-*-*-iso10646-*
!URxvt*boldItalicFont: -*-terminus-bold-*-*-*-16-*-*-*-*-*-iso10646-*
!URxvt.font: xft:PowerlineSymbols:regular,\
!    xft:DejaVuSansMono:pixelsize=14:antialias=false:hinting=false:autohint=false
!URxvt.boldFont: xft:Terminus:bold:pixelsize=14:antialias=false:hinting=false:autohint=false

!! Cursor size
Xcursor.size: 16

!! xft
Xft.dpi:        96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
!! urxvt
URxvt*termName: rxvt-unicode
URxvt*imLocale: en_Us.utf8
URxvt*depth:                  16
URxvt*scrollstyle:            plain
URxvt*scrollBar:              False
URxvt*scrollBar_right:        True
URxvt*scrollBar_align:        top
! Makes urxvt invisible to window managers. Or not when its false.
URxvt*override-redirect:      False
URxvt*geometry:               80x25
URxvt*internalBorder:         0
URxvt*externalBorder:         0
URxvt*lineSpace:              0
URxvt*borderLess:             False
URxvt.intensityStyles:        false
! Dont know what this does:
URxvt*preeditType:            OverTheSpot
URxvt*urlLauncher:            firefox
URxvt*cursorBlink:            True
URxvt*pointerBlank:           True
URxvt*savelines:              65535
URxvt*scrollttykeypress:      true
URxvt.iconFile:               /usr/share/icons/oxygen/32x32/apps/utilities-terminal.svg
! Colored man pages and other highlighted stuff
URxvt.colorIT:                #268bd2
URxvt.colorBD:                #dc322f
URxvt.colorUL:                #859900
! URxvt*print-pipe:       cat > $(echo urxvt.dump.`date +'%Y%M%d%H%m%S'`)

!! dzen2

dzen2.font:                   -*-terminus-medium-*-*-*-16-*-*-*-*-*-iso8859-*
! dzen2.foreground:             #839496
! dzen2.background:             #002b36
