#include "/home/nathan/.colors/base16-default.xresources"

! Xdefaults file
!*background: #2c2e2f
!urxvt*background: [95]#2c2e2f
!urxvt*foreground: #edeff2
!*cursorColor: #edeff2
urxvt*internalBorder: 12
urxvt*termName: rxvt
urxvt*scrollBar: false
urxvt*url-select.launcher: /usr/bin/firefox -new-tab
URxvt.url-select.underline: true

urxvt*font: xft:terminus:size=16

Xft.hinting: true
Xft.autohint: false
Xft.lcdfilter: lcddefault

URxvt.transparent: false
URxvt.tintColor: white
URxvt.depth: 32

!! Font for everything
!*font: -*-terminus-medium-r-*-*-*-120-75-75-*-*-iso8859-15
!URxvt*font: -*-terminus-medium-r-*-*-*-120-75-75-*-*-iso8859-15
!!*font: -*-terminus-medium-r-normal-*-16-*-*-*-*-*-iso8859-* 

!! Cursor size
Xcursor.size: 16

!! xft
!Xft.dpi:        121
Xft.dpi:        96
Xft.hintstyle:  hintfull
Xft.antialias: 1
Xft.rgba: rgb
!! urxvt
!!URxvt*termName: rxvt-unicode
URxvt*imLocale: en_Us.utf8
URxvt*depth:                  24
URxvt*scrollstyle:            plain
URxvt*scrollBar:              False
URxvt*scrollBar_right:        True
URxvt*scrollBar_align:        top
! Makes urxvt invisible to window managers. Or not when its false.
URxvt*override-redirect:      False
URxvt*geometry:               80x25
URxvt*internalBorder:         0
URxvt*externalBorder:         0
URxvt*lineSpace:              0
URxvt*borderLess:             False
URxvt.intensityStyles:        false
! Dont know what this does:
URxvt*preeditType:            OverTheSpot
URxvt*urlLauncher:            firefox
URxvt*cursorBlink:            True
URxvt*pointerBlank:           True
URxvt*savelines:              65535
URxvt*scrollttykeypress:      true
! Colored man pages and other highlighted stuff
!URxvt.colorIT:                #268bd2
!URxvt.colorBD:                #dc322f
!URxvt.colorUL:                #859900
! URxvt*print-pipe:       cat > $(echo urxvt.dump.`date +'%Y%M%d%H%m%S'`)
