#include "/home/nathan/dotfiles/xresources/.config/xresources/my-zenburn.xresources"

urxvt*internalBorder: 4
urxvt*termName: rxvt-256color
urxvt*scrollBar: false
urxvt*url-select.launcher: /usr/bin/firefox -new-tab
URxvt.url-select.underline: true
URxvt*jumpScroll: true
URxvt*lineSpace: 0

*font: '-*-gohufont-medium-*-*-*-14-*-*-*-*-*-iso10646-1'

URxvt.transparent: false
URxvt.tintColor: white
URxvt.depth: 32

Xcursor.size: 16
Xft.hintstyle:  hintfull
Xft.antialias: 1
Xft.rgba: rgb
URxvt.keysym.M-S-Return: \ urxvt\ &!\012
URxvt*termName: rxvt-unicode
URxvt*letterSpace: 0
URxvt*imLocale: en_Us.utf8
URxvt*depth:                  24
URxvt*scrollstyle:            plain
URxvt*scrollBar:              False
URxvt*scrollBar_right:        True
URxvt*scrollBar_align:        top
URxvt*override-redirect:      False
URxvt*geometry:               80x25
URxvt*internalBorder:         0
URxvt*externalBorder:         0
URxvt*borderLess:             False
URxvt.intensityStyles:        false
URxvt*preeditType:            OffTheSpot
URxvt*urlLauncher:            firefox
URxvt*cursorBlink:            True
URxvt*pointerBlank:           True
URxvt*saveLines:              65535
URxvt*scrollttykeypress:      true

