[Unit]
Description=set the mouse cursor with xsetroot

[Service]
Type=simple
Environment=DISPLAY=:%i
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr

[Install]
WantedBy=wm@.target
