[Unit]
Description=Emacs daemon
After=keychain.service

[Service]
Type=forking
EnvironmentFile=%h/.keychain/my_env
Restart=on-abnormal
WorkingDirectory=%h
ExecStart=/usr/bin/emacs --daemon
Restart=no

[Install]
WantedBy=wm@.target
