[Unit]
Description=Disable USB wake sources
   
[Service]
Type=oneshot
ExecStart=/bin/bash -c 'for i in XHC0 XHC1 XHC3 XHC4; do echo $i > /proc/acpi/wakeup; done'
   
[Install]
WantedBy=multi-user.target
